<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>practice(layout)</title>
  <link rel="stylesheet" href="layout_style.css">
</head>
<body>
  <header>
    <h1>Alfredo<br/>
      gonzales</h1>
      <nav>
        <div id="home">
          <a href="#"><img src="layout/images/menu01.png" alt="menu1" /></a>
          <p>home</p>
        </div>

        <div id="shop">
          <a href="#"><img src="layout/images/menu02.png" alt="menu2" /></a>
          <p>
            shop</p>
        </div>

        <div id="custombox">
          <a href="#"><img src="layout/images/menu03.png" alt="menu3" /></a>
          <p>custombox</p>
        </div>

        <div id="blog"><a href="#"><img src="layout/images/menu04.png" alt="menu4" /></a>
          <p>blog</p>
        </div>

        <div id="story">
          <a href="#"><img src="layout/images/menu05.png" alt="menu5" /></a>
          <p>story</p>
        </div>
      </nav>
  </header>

  <main>
    <section id="fir">
      <img src="layout/images/header01.jpg" alt="header1" width="1270px" height="640px" />

      <aside>
        <img src="layout/images/side01.jpg" alt="aside1" width="320px" height="295px" />

        <div class="stripe" id="stripe_margin">
          <p>DESIGN YOUR OWNSOCK <br />
            <span class="bold">THE WORKSHOP</span> <br /><span class="hyphon">-</span>
          </p>
        </div>

        <div class="stripe">
          <p>SELF SERVICE<br />
            <span class="bold">ONLINE STORE</span> <br /><span class="hyphon">-</span></p>
        </div>
      </aside>
    </section>

      <section id="sec_left" class="sec">
        <img src="layout/images/banner_01.jpg" alt="banner1" width="780px" height="540px" />
        <div id="iframe1">
          <iframe src="https://player.vimeo.com/video/104136276" width="780px" height="480px" frameborder="0" id="video1"
            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </section>

      <section id="sec_right" class="sec">
        <img src="layout/images/banner_02.jpg" alt="banner2" width="780px" height="1050px" />
    </section>

    <section id="thd">
      <img src="layout/images/banner_03.jpg" alt="banner3" width="1600px" height="550px" />
      <img src="layout/images/banner_04.jpg" alt="banner4" width="1600px" height="600px" />
      <img src="layout/images/banner_05.jpg" alt="banner5" width="1600px" height="580px" />
    </section>

    <section id="four_left" class="four">
      <img src="layout/images/banner_bg.jpg" alt="banner6" width="790px" height="500px" />
    </section>
    
    <section ld="four_right" class="four">
      <div id="iframe2">
        <iframe src="https://player.vimeo.com/video/58451361" width="800px" height="340px" frameborder="0" webkitallowfullscreen
          mozallowfullscreen allowfullscreen></iframe>
      </div>
    
      <div id="orange">
        <form action="">
          <label for="user_email">SIGN UP</label>
          <input id="user_email" type="email" placeholder="YOUR EMAIL ADDRESS" required>
          <button type="submit" >></button>
        </form>
      </div>
    </section>
  </main>

  <footer>
    <h3>
      Alfredo <br />
      gonzales
    </h3>
  </footer>
</body>
</html>